{% extends "base.html" %}
{% block title %}Order Cancelled{% endblock title %}
{% block content %}
<!-- Main Section Start -->
<div class="main-section my-5">
  <div class="page-section">
    <div class="container">
      <div style="text-align: center; padding: 50px 0px;">
        <i class="fa-solid fa-xmark" style="font-size: 100px; margin-bottom: 15px; color: #c33332;"></i>
        <h1>Order Cancelled.</h1>
      </div>
    </div>
  </div>
</div>
<!-- Main Section End -->
{% endblock content %}